
.slider{
    position: relative;
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    background: #f2efde;
    display: block;
    text-align: center;
    padding: 9px 0;
    z-index: 7;
}
body{
    font-family: roboto;
    margin: 0;
}
.slider-text p{
    font-size: 35px;
    margin-top: 10px;
}
.slider-item2 p{
    margin: 0;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
}
.fig-slider{
    margin: 0;
    width: 100%;
}
.fig-slider img{
    width: 50%;
    max-width: 60%;
    margin: 0 auto;
}
.slider-item{
    text-align: center;
    display: flex;
}
.owl-carousel .item-owl .productos-slider .slider-text{
    font-size: 25px;
    font-weight: 800;
    color: #8CD21F;
    align-self: center;
}
.btn-slider{
    padding: 10px 20px;
    background-color: #F2EFDE;
    border: 1px solid;
    border-color: #352B12;
    font-size: 16px;
    color: #352B12;
    cursor: pointer;
}
.owl-carousel .item-owl {
    height: 100vh;
    background: #f2efde;
    position: relative;
    z-index: 3;}
.nav-ol{
    padding: 0;
    margin: 0;
    text-align: center;
}

.ol-item{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 20px;
}
.link{
    text-decoration: none;
    color: #8CD21F;
}
.logo-menu{
    width: 10%;
}
.logo-menu img{
    max-width: 100%;
}

.owl-nav, .owl-dots{
    display: none;
} 
.owl-carousel .item-owl .productos-slider {
    max-width: 90%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100vh;
}
.slider .hashSlider {
    position: absolute;
    bottom: 4%;
    z-index: 3;
    right: 70px;
}
.slider .hashSlider .activeSlider {
    padding: 0 15px;
    text-decoration: none;
    font-size: 21px;
    border-bottom: 5px solid #b69a59;
    font-weight: 700;
    color: #b69a59;
}
.slider .hashSlider a {
    padding: 0 15px;
    text-decoration: none;
    font-size: 21px;
    border-bottom: 5px solid #352b12;
    font-weight: 700;
    color: #352b12;
}
.owl-carousel .item-owl .productos-slider .image {
    margin: 0;
    overflow: hidden;
    -ms-flex-item-align: center;
    align-self: center;
} 
.owl-carousel .item-owl .productos-slider .image img {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}
.decoracion {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}
.decoracion .hoja1{
    width: 11vw!important;
    position: absolute;
    top: 29%;
    left: -1%;
    -webkit-transform: rotate3d(0,0,1,155deg)!important;
    transform: rotate3d(0,0,1,155deg)!important;
}
.decoracion .hoja2 {
    width: 5vw!important;
    position: absolute;
    top: 14%;
    left: 2%;
    -webkit-transform: rotate3d(0,0,1,255deg);
    transform: rotate3d(0,0,1,255deg);
}
.decoracion .circulo1 {
    width: 14vw!important;
    position: absolute;
    bottom: -5vw;
    left: -2vw;
}
.decoracion .hoja3 {
    width: 120px!important;
    position: absolute;
    right: 0;
    top: 10%;
}
.decoracion .hoja4 {
    width: 7vw!important;
    position: absolute;
    right: -1vw;
    bottom: 12vw;
    -webkit-transform: rotate3d(0,0,1,-37deg);
    transform: rotate3d(0,0,1,-37deg);
}
.decoracion .hoja5 {
    width: 16vw!important;
    position: absolute;
    right: -2vw;
    bottom: 1vh;
    -webkit-transform: rotate3d(0,0,1,40deg);
    transform: rotate3d(0,0,1,40deg);
}
.decoracion .circulo2 {
    width: 20vw!important;
    position: absolute;
    right: -15vw;
    top: 23%;
}
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  .somos{
    background: #B69A59;
    padding: 55px 0;
    text-align: center;
  }
  .somos-descripcion{
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #352B12;
  }
  .nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0 100px 0;
    background: white;
    position: relative;
  }
  .img-nosotros{
      max-width: 100%;
  }
  .area-texto{
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 40px;
    padding-top: 20px;
  }
  .area-texto p{
      margin: 0;
      color: #352b12;
  }
  .link-conoce-mas{
      font-size: 24px;
    margin-top: 50px;
  }
  .link-conoce-mas b{
      color: #8CD21F;
  }
 .decoracionn{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
 }
 .hoja1{
    width: 9vw;
    position: absolute;
    bottom: 1vw;
    left: 11vw;
    -webkit-transform: rotate3d(0,0,1,210deg)!important;
    transform: rotate3d(0,0,1,210deg)!important;
 }
 .hoja2{
    width: 5vw;
    position: absolute;
    bottom: 3vw;
    left: 7vw;
    -webkit-transform: rotate3d(0,0,1,44deg)!important;
    transform: rotate3d(0,0,1,44deg)!important;
 }
 .tittle-center{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #8CD21F;
 }
 .wrapper-productos{
     
 }
 .cont-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-top: 100px;
    margin-left: auto;
    max-width: 1366px;
    margin-right: auto
 }
 .product img{
     max-width: 100%;
     width: 100%;
}
.cont-productos a{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #352B12;
}
.imagen-chida{
    padding-top: 350px;
    margin-top: -250px;
    padding-bottom: 100px;
    background: #F2EFDE;
}
.img-ramas{
   text-align: center;
}

.link-tiendas{
    text-align: center;
    padding: 100px 0;
    background: #B69A59;
}
.log-tienda{
    display: inline-block;
}
.cafe{
    color: #352B12;
    font-size: 35px;
    padding-top: 100px;
    background: #B69A59;
}
.img-link{
    text-decoration: none
}
.tiendas-txt{
    color: #352B12;
    margin: 0;
    font-weight: normal;
    font-size: 17px;
}
.descubre{
    text-align: center;
}
.descubre p{
    margin: 0;
    color: #352B12;
    font-weight: bold;
    font-size: 22px;
}
hr.v{
    width: 0px;
    height: 150px;
    border: 1px solid #352B12;
    background: #352B12;
    }
.recetas{
    padding: 0;
    background: #B69A59;
}
.cont-recetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    margin-top: 100px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto
}
.receta img{
    max-width: 100%;
    width: 100%;
}
.cont-recetas a{
   text-decoration: none;
   text-align: center;
   font-size: 25px;
   color: #352B12;
}
.descrip-recet{
    font-size: 24px;
}
.donde-comprar{
    /* max-width: 1366px; */
}
.catalogo{
    padding-top: 460px;
    margin-top: -345px;
    background: white;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1366px;
    margin: 0 auto;
}
.item-info{
    text-align: center;
}
.item-info img{
    width: 75%;
    max-width: 100%;
}
.interesado{
    font-size: 40px;
    margin-left: 60px;
}
.p1{
    margin-top: 10px;
}
.p2{
    margin-top: 20px;
    color: #8CD21F;
}
.redes-sociales{
    list-style: none;
    padding: 0;
    margin-left: 60px;
}
.redes-sociales li{
    display: inline-block;
    margin: 0 5px;
    font-size: 40px
}
.redes-sociales a{
    text-decoration: none;
    color: #8CD21F;
}
.comunidad{
    margin-top: -90px;
    padding-top: 250px;    
    background: #F2EFDE;
    padding-bottom: 70px;
}
.comunidad-descripcion h1, h2{
    text-align: center;
    margin: 15px 0;
    color: #8CD21F;
}
.comunidad-descripcion h1{
    font-size: 34px;
}
.comunidad-descripcion h2{
    font-size: 24px;
    font-weight: normal;
}
.form{
    display: flex;
    justify-content: center;
}
button{
    padding: 7px 10px;
    font-size: 16px;
    background: #F2EFDE;
    border: 1px solid darkgrey;
}
input{
    font-size: 20px;
    width: 200px;
    height: 30px
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #352B12;
    padding: 30px 0;
}
.log-footer-ebien{
    max-width: 100%;
} 
.item-logoebien{
    margin-left: 40px;
    align-self: center;
}
.item-logoebien figure{
    width: 168px;
    margin: 0;
} 
.item-logo-ollin{
    justify-self: end;
    align-self: center;

}
.item-logo-ollin figure{
    margin: 0;
    margin-right: 40px;
    align-self: center;
}
.menu-footer{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

}
.links-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    grid-column-gap: 30px;
    grid-row-gap: 6px;
}
.links-menu li{
    list-style: none;
}
.links-menu a{
    text-decoration: none;
    color: white;
}
.redes-footer{
    padding: 0;
    display: grid;
    grid-template-columns: 24px 24px 24px;
    grid-column-gap: 10px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}
.redes-footer li{
    list-style: none;
}
.redes-footer a{
    text-decoration: none;
    color: white;
}
