@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c3y7u2');
  src:  url('../fonts/icomoon.eot?c3y7u2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c3y7u2') format('truetype'),
    url('../fonts/icomoon.woff?c3y7u2') format('woff'),
    url('../fonts/icomoon.svg?c3y7u2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
